@scope (:host(setting-button)) {
    :scope button {
        border-radius: 8px;
    }

    :scope[data-type="secondary"] button {
        & {
            background-color: var(--msp-container);
        }
    }
}

@scope (:host(setting-select)) {
    :scope .menu-button {
        background-color: var(--msp-container);
        border-radius: 8px;
    }

    :scope ul {
        border-radius: 8px;
    }
}