/* 删除背景 */
/* 好友通知列表 */
.tab-container .two-col-layout__main .sys-notify__content .viewport-list.sys-notify-list .viewport-list__inner,
/* 联系人列表 */
.tab-container .two-col-layout__aside .contact-layout__left-area .contact,
/* 联系人 折叠列表 头部 */
.tab-container .two-col-layout__aside .contact-layout__left-area .contact-layout__content-area .q-collapse-item__header,
/* 联系人头部切换 */
.tab-container .two-col-layout__aside .contact-layout__left-area .contact .tab-header,
/* 联系人 群通知、好友通知 */
.tab-container .two-col-layout__main .sys-notify,
/* 联系人详情 */
html:not(.mspring_background_plugin_enabled) .tab-container .two-col-layout__main .profile,
/* 文件管理页面 文件列表 */
#file-manage-scroll-list .file-list-normal-scroll-container,
/* 文件管理页面 图片与视频 */
#file-area-container .file-list-grid-scroll-container,
/* 文件管理页面 发送人列表 */
.file-manager-main .two-col-layout__aside .sender-container,
/* 文件管理页面 群文件 群列表 */
.file-manager-main .two-col-layout__aside .group-file-container,
/* 文件管理页面 折叠列表 */
.file-manager-main .two-col-layout__aside :is(.sender-container, .file-type-container, .group-file-container) .q-collapse :is(.q-collapse-item__header, .q-collapse-item),
/* 文件管理页面 类型列表 */
.file-manager-main .two-col-layout__aside .file-type-container,
/* 文件管理页面 群文件 footer */
#file-area-container .file-area-container-group-file-footer,
/* 频道 成员列表 */
.guild-main .channel-main .channel .chatDragDropArea .userList,
/* 收藏页面 侧栏 */
#app .favorites-layout .favorites-layout__left-area,
/* 收藏页面 右侧 */
#app .favorites-layout .favorites-layout__right-area .favorites-layout__content,
/* 收藏页面 右侧 顶部 */
#app .favorites-layout .favorites-layout__right-area .panel-header,
/* 申请加群/加好友 底部 */
#discover .discover__container .discover__content .form-item__action {
    background: initial;
}

/* 申请加群/加好友 顶部背景 */
#discover .discover__container .discover__content .discover-application .stranger-item {
    background: initial !important;
}

/* 列表条目圆角 */
.two-col-layout__aside .viewport-list__inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

/* 好友通知、群通知列表项 */
.sys-notify__container .sys-notify-card,
.sys-notify__container .list-item {
    border-radius: 8px;
}

/* 消息列表项圆角 */
.recent-contact-item {
    border-radius: 12px;
}

/* 聊天框 */
html:not(.mspring_background_plugin_enabled) .chat-input-area {
    border-radius: 16px 16px 0px 0px;
}

/* 文件管理 文件列表 块 */
.file-list-normal-sort,
/* 文件管理 类型 图片与视频 */
.file-list-grid-scroll-container>* {
    margin-bottom: 16px;
}

/* 
    文件管理 发送人列表
    文件管理 类型列表
    文件管理 发送人列表 展开的子列表 */
.file-manager-main .q-collapse-item__title,
.file-manager-main .file-type,
.file-manager-main .user-item-container {
    border-radius: 8px;
}

/* 强制覆盖自己的气泡颜色 */
html.mspring_force_host_bubble_color #app .chat-msg-area .ml-list .message .msg-content-container.container--self {
    background: var(--theme-color) !important;
    color: var(--on_bubble_host_text) !important;
    backdrop-filter: none !important;
}

/* 自己回复消息的文本颜色 */
html.mspring_force_host_bubble_color #app .chat-msg-area .ml-list .message .reply-element.reply-element--self {
    color: var(--on_bubble_host_text) !important;
}

html.mspring_background_plugin_enabled:not(.mspring_force_host_bubble_color) #app .chat-msg-area .ml-list .message .reply-element.reply-element--self {
    color: var(--text_primary) !important;
}

/* 聊天界面更多面板 */
.container .more-panel .side-panel {
    /* background: #ffffff; */
    backdrop-filter: blur(32px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
}

html:is(.linux) .container .more-panel .side-panel {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

/* 各种列表鼠标悬浮效果 */
.viewport-list .list-item:hover {
    background-color: var(--msp-container-active);
}

/* 
    频道 别人消息背景
    频道 帖子列表项目背景
         */
.guild-main .message:not(.message-gray-tip, .message-self) .message-content,
.guild-main .topic-list-item {
    background: var(--msp-container);
}

.guild-main .topic-list-item.is-active {
    background: var(--msp-container-active);
}

/* 
    合并转发的聊天记录
    文件 */
#ml-root .forward-msg,
#ml-root .normal-file {
    background-color: var(--msp-container);
}


/* 好友通知、群通知列表项 */
.sys-notify__container .sys-notify-card {
    background: var(--msp-container);
}

/* 搜索结果 */
.search-result {
    border-radius: 12px 12px 0px 0px;
    backdrop-filter: blur(32px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
    margin-left: 8px;
    margin-right: 8px;
}

html:is(.linux) .search-result {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

/* 
    菜单
    聊天页面账号卡片
    忘了 */
.q-popover,
.user-card-main,
.account-list {
    backdrop-filter: blur(16px) saturate(150%) opacity(40%);
    mix-blend-mode: multiply;
}

html:is(.linux) .q-popover,
html:is(.linux) .user-card-main,
html:is(.linux) .account-list {
    backdrop-filter: none !important;
    mix-blend-mode: initial !important;
}

/* 
    文件管理 文件列表 块
    文件管理 文件列表 标题
    文件管理 类型 图片与视频 块
    文件管理 类型 图片与视频 标题
    群文件 群在线文档卡片
    设置 列表项卡片 (.group-msg-title: 消息通知-群消息设置)
    设置 消息通知 列表项卡片 消息组
    设置 存储管理 列表项卡片
    设置 快捷键 列表项卡片
    LiteLoaderQQNT 主体&插件配置界面
    申请加群/加好友 项目背景 */
#file-manage-scroll-list .file-list-normal-sort,
#file-manage-scroll-list .file-list-normal-sort-title,
#file-area-container .file-area-container-list .file-list-grid-scroll-container>div,
#file-area-container .file-list-normal-sort-title,
#file-manage-scroll-list .group-file-banner,
.setting-main__content>*>*:not(.appearance-tab, .liteloader)>*:not(.setting-item-title, .popup, .storage-space, .shotcut, .group-msg-title),
.setting-main__content .notify-tab .popup>*:not(.setting-item-title),
.setting-main__content .storage-space>*:not(.setting-item-title, .storage-chart, .title),
.setting-main .setting-main__content .shortcut-tab .shotcut>*,
.setting-main .setting-main__content .liteloader setting-panel,
#discover .discover__container .discover__content .application-form__container .q-scroll-view form>div>div>div {
    background: var(--msp-container);
    border-radius: 8px;
}

#app .q-input:not(.search-input),
#app .q-textarea,
.q-pulldown-menu-button {
    border-radius: 8px;
    background: var(--msp-container);
}

/* 登录页面背景 */
#login canvas {
    display: none;
}

/* 登录页面输入框 */
#login .password-container__input-area .password .input,
#login .password-container__input-area .password .input.focus {
    border-radius: 8px;
    background: var(--msp-container);
}

/* 删除QQ主题的背景 */
.q-miracle-background {
    background: none !important;
}


/* 防撤回提示 */
html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .message-content-recalled {
    background: var(--msp-container) !important;
    backdrop-filter: initial !important;
}

/* 轻量工具箱 +1和外置时间 */
html:not(.mspring_lite_tool_background_enabled) .message-content-replace::after,
/* html:not(.mspring_lite_tool_background_enabled) .lite-tools-time.bubble-outside::after, */
html:not(.mspring_lite_tool_background_enabled) .lite-tools-slot.outside-slot::after {
    background: var(--msp-container);
    backdrop-filter: initial;
}

/* 浅色模式 */
@media (prefers-color-scheme: light) {

    /* 频道三个侧栏 */
    #app .guild-main .main-area .main-area-left,
    #channelList .channel-container,
    #channelList .session-container {
        background: var(--background-color-light);
    }

    /* 登录背景 */
    #login {
        background: var(--background-color-light) !important;
    }

    /* 聊天界面回顶、回底按钮 */
    .container .q-notification:is(.chat-msg-area__tip--top-btn, .chat-msg-area__tip--bottom) {
        background: #ffffff7f;
        backdrop-filter: blur(32px);
    }

    html:is(.linux) .container .q-notification:is(.chat-msg-area__tip--top-btn, .chat-msg-area__tip--bottom) {
        backdrop-filter: none !important;
    }

    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    #ml-root .forward-msg:is(:active, :hover),
    #ml-root .normal-file:is(:active, :hover) {
        background-color: var(--msp-container-active);
    }

    /* 表情面板 */
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #ffffffef !important;
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #ffffffef !important;
    }

    #ml-root .container--others .ptt-element__button .q-icon {
        color: #ffffff;
    }

    /* 插件设置 列表里的输入框 */
    .liteloader input[type="text"] {
        border-radius: 8px;
        background: var(--msp-container);
        padding-left: 8px;
    }

    .liteloader input[type="text"]:focus {
        background: var(--msp-container-active);
        padding-left: 10px;
    }

}


/* 深色模式 */
@media (prefers-color-scheme: dark) {

    /* 频道三个侧栏 */
    #app .guild-main .main-area .main-area-left,
    #channelList .channel-container,
    #channelList .session-container {
        background: var(--background-color-dark);
    }

    /* 聊天界面回顶、回底按钮 */
    .container .q-notification:is(.chat-msg-area__tip--top-btn, .chat-msg-area__tip--bottom) {
        background: #1717177f;
        backdrop-filter: blur(32px);
    }

    html:is(.linux) .container .q-notification:is(.chat-msg-area__tip--top-btn, .chat-msg-area__tip--bottom) {
        backdrop-filter: none !important;
    }

    /* 
        合并转发的聊天记录（选中）
        文件（选中） */
    #ml-root .forward-msg:is(:active, :hover),
    #ml-root .normal-file:is(:active, :hover) {
        background-color: #ffffff10;
    }

    /* 表情面板 */
    .sticker-panel {
        /* 不知道为什么表情面板一使用 mix-blend-mode: multiply，backdrop-filter就会失效 */
        background: #171717ef !important;
    }

    /* 转发消息 折叠列表 头部 */
    .q-dialog .q-collapse-item .q-collapse-item__header {
        background: #303030ef !important;
    }

    #ml-root .container--others .ptt-element__button .q-icon {
        color: #171717;
    }

    .login-panel,
    .proxy-setting__title,
    .proxy-setting__subtitle,
    #qPullDownMenuTrigger,
    .login-panel .q-button.q-button--secondary.q-button--default>span {
        color: #ffffff !important;
    }

    .login-panel .q-button.q-button--secondary.q-button--default {
        border-color: #ffffff7f !important;
    }

    .login-panel .proxy-setting__type>div>div>span>i>svg>path {
        fill: #ffffff !important;
    }

    .process-text,
    .password-container__input-area,
    .password-container__input-area .q-icon,
    .password-container__input-area .q-input__inner,
    .account-list .uin {
        color: #ffffff !important;
    }

    /* 登录页面手机验证文本颜色 */
    .wait-confirm .title,
    .wait-confirm .desc,
    .auto-login .status-txt {
        color: #ffffff !important;
    }

    .login-panel .seperator {
        color: #ffffff7f !important;
    }

    .login-panel .password-container__opreate.operation>div,
    .login-panel .operation>div {
        background: #ffffff7f !important;
    }

    /* 自己发送的链接颜色 */
    #ml-root .container--self .text-link {
        color: #ffffff;
    }

    /* 深色模式下将艾特颜色改为白色并添加下划线与普通消息文本进行区分 */
    #ml-root .container--self .text-element--at {
        color: #ffffff;
        text-decoration: underline;
    }

    /* DeepL插件 他人的消息框分割线颜色 */
    .container--others #deepl-divider {
        background: var(--msp-container-active) !important;
    }

    /* 插件设置 列表里的输入框 */
    .liteloader input[type="text"] {
        border-radius: 8px;
        background: #ffffff10;
        padding-left: 8px;
    }

    .liteloader input[type="text"]:focus {
        background: var(--msp-container);
        padding-left: 10px;
    }

}

:root {
    --el-color-primary: var(--theme-color);
}

.q-theme-tokens-light {
    /* mspring */
    --msp-container: #00000010;
    --msp-container-active: #00000021;

    /* color-tokens */
    --brand_standard: var(--theme-color);
    --on_brand_primary: var(--on-theme-text-color);
    --on_brand_secondary: var(--on-theme-text-color);
    --text_link: var(--theme-color);
    --bg_list: TRANSPARENT;
    --bg_nav: var(--background-color-light);
    --bg_bottom_standard: var(--background-color-light);
    /* --bg_bottom_light: var(--background-color-light); */
    --bg_nav_secondary: var(--background-color-light);
    --bubble_guest: var(--msp-container);
    /* --fill_light_primary: TRANSPARENT; */
    --overlay_active_brand: var(--theme-color);
    --svip_red: var(--text_primary);
    /* 管理员标签 */
    --tag_blue_text: var(--theme-color);
    --tag_blue_bg: var(--theme-color-alpha);
    --brand_text: var(--theme-color);

    /* ancient-tokens */
    --text-brand: var(--theme-color);
    --text-link: var(--theme-color);

    /* mix-tokens */
    --nt_brand_standard_2_overlay_hover_brand_2_mix: var(--theme-color-dark1);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: var(--theme-color-dark2);
    --nt_brand_standard_2_20_2_alpha: var(--theme-color-alpha);
    --nt_bg_nav_secondary_2_60_2_alpha: var(--background-color-light);
    --nt_bg_nav_2_60_2_alpha: var(--background-color-light);
}

html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .q-theme-tokens-light,
html.mspring_force_host_bubble_color .q-theme-tokens-light {
    --bubble_host: var(--theme-color);
    --bubble_host_text: var(--on-theme-text-color);
    --bubble_host_1: var(--theme-color);
    --bubble_host_2: var(--theme-color);
    --on_bubble_host_text: var(--on-theme-text-color);
    --host_bubble_bg_css_value: var(--theme-color);
}

.q-theme-tokens-dark {
    /* mspring */
    --msp-container: #ffffff21;
    --msp-container-active: #ffffff3f;

    /* color-tokens */
    --brand_standard: var(--theme-color);
    --on_brand_primary: var(--on-theme-text-color);
    --on_brand_secondary: var(--on-theme-text-color);
    --text_link: var(--theme-color);
    --bg_list: TRANSPARENT;
    --bg_nav: var(--background-color-dark);
    --bg_bottom_standard: var(--background-color-dark);
    /* --bg_bottom_light: var(--background-color-dark); */
    --bg_nav_secondary: var(--background-color-dark);
    --bubble_guest: var(--msp-container);
    /* --fill_light_primary: TRANSPARENT; */
    --overlay_active_brand: var(--theme-color);
    --svip_red: var(--text_primary);
    /* 管理员标签 */
    --tag_blue_text: var(--theme-color);
    --tag_blue_bg: var(--theme-color-alpha);
    --brand_text: var(--theme-color);

    /* ancient-tokens */
    --text-brand: var(--theme-color);
    --text-link: var(--theme-color);

    /* mix-tokens */
    --nt_brand_standard_2_overlay_hover_brand_2_mix: var(--theme-color-dark1);
    --nt_brand_standard_2_overlay_pressed_brand_2_mix: var(--theme-color-dark2);
    --nt_brand_standard_2_20_2_alpha: var(--theme-color-alpha);
    --nt_bg_nav_secondary_2_60_2_alpha: var(--background-color-dark);
    --nt_bg_nav_2_60_2_alpha: var(--background-color-dark);

    /* 解决深色模式下聊天列表置顶项目选中背景失效 */
    /* 暂未发现其他冲突 */
    --nt_on_brand_primary_2_5_2_alpha: var(--theme-color)
}

html:not(.mspring_background_plugin_enabled, .mspring_lite_tool_background_enabled) .q-theme-tokens-dark,
html.mspring_force_host_bubble_color .q-theme-tokens-dark {
    --bubble_host: var(--theme-color);
    --bubble_host_text: var(--on-theme-text-color);
    --bubble_host_1: var(--theme-color);
    --bubble_host_2: var(--theme-color);
    --on_bubble_host_text: var(--on-theme-text-color);
    --host_bubble_bg_css_value: var(--theme-color);
}

.send-btn-wrap,
.top-bar__adder,
.search-input,
.radio-tab,
.q-pulldown-menu-button,
.record-search,
.search,
.guilds-item-btn .q-button {
    border-radius: 8px !important;
}

.q-context-menu:not(.is-pure),
.q-context-sub-menu__container:not(.is-pure),
.q-button {
    border-radius: 8px;
}

/* 群消息表情回应菜单 */
.q-context-menu .menu-stickers-wrapper,
.q-context-menu .menu-stickers-wrapper .menu-stickers,
.menu-stickers-panel {
    border-radius: 8px !important;
}

.guilds-item {
    border-radius: 16px !important;
    height: initial !important;
    min-width: auto !important;
}

.password-container__input-area .q-input__inner,
.password-container__input-area .password {
    background: none !important;
}

.auto-login .avatar {
    box-shadow: 0px 4px 28px 0px var(--text-selected-color) !important;
}

/* 搜索框等点击之后粉线的圆角 */
.q-input__inner:focus,
.q-textarea__inner:focus {
    border-radius: 8px !important;
}

/* 登录页面链接颜色 */
.login-panel .password-container__opreate.operation>span:nth-child(1)>span,
.login-panel .password-container__opreate.operation>span:nth-child(3)>span,
#chk1-label>a:nth-child(1),
#chk1-label>a:nth-child(2),
#app>div>div.login-panel>div>div.operation>span:nth-child(1),
#app>div>div.login-panel>div>div.operation>span:nth-child(3),
.login-panel .operation {
    color: var(--text_link) !important;
}

/* 设置界面链接文字颜色 */
.liteloader a {
    color: var(--theme-color) !important;
}

.liteloader a:hover {
    color: var(--theme-color-dark2) !important;
}

/* 设置页面input */
.liteloader input[type="color"] {
    padding: 4px;
}

.liteloader ::-webkit-color-swatch-wrapper {
    padding: 0px;
}

.liteloader ::-webkit-color-swatch {
    border-radius: 4px;
    border: transparent solid 1px;
}

.liteloader input:is([type="color"], [type="range"]):focus {
    border: 1px solid #424242 !important;
}

.liteloader setting-panel input[type="text"] {
    border-radius: 8px !important;
}

/* 
    管理员标签（群成员列表）
    管理员标签（聊天界面）
    群公告置顶标签
 */
.group-user .q-tag.group-user__role:not(.primary),
.group-chat .q-tag.member-role-tag:not(.primary),
.notice__container .top-flag {
    color: var(--theme-color);
    background: var(--theme-tag-color);
}

/* 开启背景插件后的搜索框多的双层方形背景 */
html.mspring_background_plugin_enabled .main-search {
    background: none !important;
}

/* DeepL插件 自己的消息框分割线颜色 */
.container--self #deepl-divider {
    background: #ffffff3f !important;
}

/* 别人消息选中文字背景色 */
.message-content__wrapper .container--others span::selection,
.message-content__wrapper .container--others heti-spacing::selection,
.message-content__wrapper .container--others br::selection,
.message-content__wrapper .container--others img::selection {
    background: var(--text-selected-color);
}

/* 自己消息选中文字背景色 */
.message-content__wrapper .container--self span::selection,
.message-content__wrapper .container--self heti-spacing::selection,
.message-content__wrapper .container--self br::selection,
.message-content__wrapper .container--self img::selection {
    background: #ffffff3f;
}

/* 编辑框选中文字背景色 */
.ck-editor__main p::selection,
.ck-editor__main img::selection {
    background: var(--text-selected-color);
}

/* 提示 */
.q-toast-item {
    border-radius: 8px;
}

/* 去除VIP名字特殊效果 以下三段 */
.recent-contact-item:not(.recent-contact-item--selected),
.contact-buddy-item:not(.list-item--selected) {
    .vip-name {
        color: unset !important;
    }

    .text-ellipsis[style*="vip"] {
        -webkit-text-fill-color: unset !important;
        background: unset !important;
        color: var(--text_primary) !important;
        text-shadow: unset !important;
        filter: unset !important;
    }

    .main-info.text-ellipsis {
        .text-ellipsis {
            -webkit-text-fill-color: unset !important;
            background: unset !important;
            color: var(--text_primary) !important;
            text-shadow: unset !important;
            filter: unset !important;
        }
    }
}

.chat-header__contact-name {
    .text-ellipsis {
        -webkit-text-fill-color: unset !important;
        background: unset !important;
        color: var(--text_primary) !important;
        text-shadow: unset !important;
        filter: unset !important;
    }
}

.buddy-profile__info-name,
.buddy-profile__header-name {
    -webkit-text-fill-color: unset !important;
    background: unset !important;
    color: var(--text_primary) !important;
    text-shadow: unset !important;
    filter: unset !important;
}